{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<img class="image-home" src="{{ asset('/images/photo.jpg') }}" alt="">
<div class="div-site-prez">
<a class="btn-site-prez" href="{{ path('app_home') }}">Présentation du site</a>
</div>
{% endblock %}
