{% extends 'base.html.twig' %}

{% block title %}New StatutPlayer{% endblock %}

{% block body %}
    <h1>Create new StatutPlayer</h1>

    {{ include('statut_player/_form.html.twig') }}

    <a href="{{ path('app_statut_player_index') }}">back to list</a>
{% endblock %}
