{% extends 'base.html.twig' %}

{% block title %}New Game{% endblock %}

{% block body %}
    <h1>Create new Game</h1>

    {{ include('game/_form.html.twig') }}

    <a href="{{ path('app_game_index') }}">back to list</a>
    

<script>
var nbTotalPlayerElement = document.querySelector("#game_nbTotalPlayer");
nbTotalPlayerElement.style.display = 'none';
var selectElement = document.querySelector("#game_tournamentGame");
var teamMode = document.querySelector("#game_format").value;
var _24players = document.querySelector("#game_nbTotalPlayer_10");
var _30players = document.querySelector("#game_nbTotalPlayer_11");
selectElement.addEventListener('change',displayNbPlayer);

function displayNbPlayer() {
  console.log('coucou');
  if(selectElement.value === '1'){
    nbTotalPlayerElement.style.display = 'block';
    _24players.style.display = "none";
    _30players.style.display = "none";
  } else {
    nbTotalPlayerElement.style.display = 'none';
  }
}
</script>
{% endblock %}
