{% extends 'base.html.twig' %}

{% block title %}New Game{% endblock %}

{% block body %}
    <h1>Create new Game</h1>

    {{ include('game/_form.html.twig') }}

    <a href="{{ path('app_game_index') }}">back to list</a>
    

<script>
var nbTotalPlayerElement = document.querySelector("#game_nbTotalPlayer");
//nbTotalPlayerElement.style.display = 'none';
var selectElement = document.querySelector("#game_tournamentGame");
var teamMode = document.querySelector("#game_format");
var tournament1v1 = document.querySelectorAll(".tournament1v1class");
var tournament2v2 = document.querySelectorAll(".tournament2v2class");
var tournament3v3 = document.querySelectorAll(".tournament3v3class");
tournament1v1.style.display = 'none';
tournament2v2.style.display = 'none';
tournament3v3.style.display = 'none';
selectElement.addEventListener('change',displayNbPlayer);
teamMode.addEventListener('change',displayNbPlayer);


function displayNbPlayer() {
  console.log('coucou');
  if(selectElement.value == '1'){
    if(teamMode.value == '1vs1'){
    tournament1v1.style.display = 'block';
    tournament2v2.style.display = 'none';
tournament3v3.style.display = 'none';
    }
    else if(teamMode.value== '2vs2'){
      tournament1v1.style.display = 'none';
      tournament3v3.style.display = 'none';
      tournament2v2.style.display = 'block';
    }
    else if(teamMode.value == '3vs3'){
      tournament3v3.style.display = 'block';
    }
console.log(teamMode.value);
console.log(selectElement.value);
  } else {tournament1v1.style.display = 'none';
tournament2v2.style.display = 'none';
tournament3v3.style.display = 'none';
    
  }
}
</script>
{% endblock %}
