{% extends 'base.html.twig' %}

{% block title %}New Game{% endblock %}

{% block body %}
    <h1>Create new Game</h1>

    {{ include('game/_form.html.twig') }}

    <a href="{{ path('app_game_index') }}">back to list</a>
    

<script>
var $tournamentGame = $("#game_tournamentGame");
// on choisit un type de jeu (tournoi ou classique par exemple)
$tournamentGame.change(function() {
  // on récupère le formulaire sur lequel on est (au cas où il y en aurait plusieurs)
  var $form = $(this).closest('form');
  // on simule les données(nb de joueurs), mais seulement celles relatives au type de jeu sélectionné
  var data = {};
  data[$tournamentGame.attr('name')] = $tournamentGame.val();
  // on soumet les data via Ajax, en suivant l'url dans l'attribut action du formulaire
    $.ajax({
    url : $form.attr('action'),
    type: $form.attr('method'),
    data : data,
    complete: function(html) {
      // on remplace ce qui est présent dans le champs nb de joueurs...
      $('#game_nbPlayer').replaceWith(
        // ...avec ce qui a été récupéré dans la requête Ajax
        $(html.responseText).find('#game_nbPlayer')
      );
      // Maintenant le champs affiche les nb de joueurs disponibles (ceux associés au type de jeu choisi : tournoi ou classique)
    }
  });
  }
);
</script>
{% endblock %}
