{% extends 'base.html.twig' %}

{% block title %}New Game{% endblock %}

{% block body %}
<main>
    <h1>Create new Game</h1>

    {{ include('game/_form.html.twig') }}

    <a href="{{ path('app_game_index') }}">back to list</a>
    
<script src="{{ asset('/js/form_new_game.js') }}"></script>
</main>
{% endblock %}
