{% extends 'base.html.twig' %}

{% block title %}New LineAttachment{% endblock %}

{% block body %}
<main>
    <h1>Create new LineAttachment</h1>

    {{ include('line_attachment/_form.html.twig') }}

    <a href="{{ path('app_line_attachment_index') }}">back to list</a>
</main>
{% endblock %}
