{% extends 'base.html.twig' %}

{% block title %}New LineCommander{% endblock %}

{% block body %}
<main>
    <h1>Create new LineCommander</h1>

    {{ include('line_commander/_form.html.twig') }}

    <a href="{{ path('app_line_commander_index') }}">back to list</a>
</main>
{% endblock %}
